*{
  margin: 0;
  padding: 0;
  font-family: Century Gothic;
}

header{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://d13b2ieg84qqce.cloudfront.net/f07e4f95104cdd5544640486d187493d525f8ebd.jpg');
  height: 100vh;
  background-size: cover;
  background-position: center;
}

ul{
  float: right;
  list-style-type: none;
  margin-top: 25px;
}

ul li{
  display: inline-block;
}

ul li a{
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid #fff;
  transition: 0.6s ease;
}

ul li a:hover{
  background-color: #fff;
  color: #000;
}

.main{
  max-width: 1200px;
  margin: auto;
}

.title{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.title h1{
  color: #fff;
  font-size: 70px;
}
