body{
  /* margin: 0;
  padding: 0;
  font-family: sans-serif; */
  /* background: #34495e;
  background-image: url('./media/keck1.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover; */
}

header{
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://d13b2ieg84qqce.cloudfront.net/f07e4f95104cdd5544640486d187493d525f8ebd.jpg');
  height: 100vh;
  margin: 0;
  background-size: cover;
  /* background-position: center; */
}

ul{
  list-style-type: none;
  margin-top: 25px;
}

ul li{
  display: inline-block;
}

ul li a{
  text-decoration: none;
  color: #fff;
  padding: 5px 20px;
  border: 1px solid #fff;
  transition: 0.6s ease;
}

ul li a:hover{
  background-color: #fff;
  color: #000;
}

.main{
  max-width: 1200px;
  margin: 0;
  position: fixed;
  right: 20px;
}

.box{
  width: 40%;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.box h1{
  color: white;
  text-transform: uppercase;
  font-weight: 500;
}

.box input[type = "text"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #3498db;
  padding: 14px 10px;
  width: 200px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
}

.box input[type = "text"]:focus{
  width: 280px;
  border-color: #2ecc71;
}

.box input[type = "submit"]{
  border: 0;
  background: none;
  display: block;
  margin: 20px auto;
  text-align: center;
  border: 2px solid #2ecc71;
  padding: 14px 40px;
  outline: none;
  color: white;
  border-radius: 24px;
  transition: 0.25s;
  cursor: pointer;
}


.box input[type = "submit"]:hover{
  background: #2ecc71;
}
